/* Tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base layer */
@layer base {
    body {
        @apply font-preah bg-[#11071F] text-white w-full overflow-x-hidden scroll-smooth relative;
    }
}

/* Utility layer */
@layer utilities {
    .bg-center-to-top {
        background: radial-gradient(ellipse at center, rgba(168, 85, 247, 0.7) 0%, transparent 60%);
        background-position: top center;
        background-repeat: no-repeat;
    }
}
.circle-center {
    background-image: radial-gradient(circle 180px at 50% 100%, #763CAC, #11071F);
}

.circle-left {
    background-image: radial-gradient(circle 180px at 10% 50%, #763CAC, #11071F  );
}

.circle-right {
    background-image: radial-gradient(circle 180px at 90% 50%, #763CAC, #11071F);
}

.shine-letter {
    display: inline-block;
    opacity: 0.4;
    transition: color 0.3s ease;
}